.cropt-container .cr-image {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    max-height: none;
    max-width: none;
    pointer-events: none; /* prevent image context menu on Android */
}

.cropt-container .cr-image,
.cropt-container .cr-overlay {
    -webkit-user-select: none; /* still necessary for Safari */
    user-select: none;
}

.cropt-container .cr-boundary {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    z-index: 1;
    height: 320px;
}

.cropt-container .cr-boundary,
.cropt-container .cr-toolbar-wrap {
    width: 320px;
}

.cropt-container .cr-viewport {
    position: absolute;
    box-sizing: border-box;
    border: 2px solid #fff;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.cropt-container .cr-overlay {
    z-index: 1;
    position: absolute;
    cursor: move;
    touch-action: none;
}

.cropt-container .cr-toolbar-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    margin: 5px auto;
}

.cropt-container .cr-slider {
    flex: 1;
    margin: 0 10px 0;
}

.cropt-container .cr-control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.cropt-container .cr-resize-handle {
    z-index: 100 !important;
    position: absolute;
    width: 44px !important;
    height: 44px !important;
    touch-action: none;
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cropt-container .cr-resize-handle-grabber {
    width: 10px;
    height: 10px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

.cropt-container .cr-resize-handle-right {
    cursor: ew-resize;
}

.cropt-container .cr-resize-handle-bottom {
    cursor: ns-resize;
}



